/* Fade-in, fade-out transition */

.fifo-enter-active {
  opacity: 1;
  transition: opacity;
}

.fifo-enter {
  opacity: 0;
}

.fifo-leave-active {
  opacity: 0;
  transition: opacity;
}

.fifo-leave {
  opacity: 1
}
